body {
}

.main-container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
}

#indexContainer {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%
}

.indexContainer {
  margin-top: 5%;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
  );
  padding: 3rem;
  border-radius: 3rem;
}

.inputField {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#indexButtonContainer {
  display: flex;
  flex-direction: row;

}

#indexLoginButton {
  margin-right: 1vw;
}

.indexTableContainer {
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  padding: 3rem;
}

#tableHeader {
  display:flex;
  justify-content: space-between;
}

.icon {
  max-width: 3vw;
}

#indexHeading {
}

.add-course {
  margin-left: 2rem;
  marign-right: 2rem;
}

.table-icon {
  margin-right: .25rem;
  margin-left: .25rem;
}